
.value{
  font-size: 10pt;
  // letter-spacing: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 0 0 2.5rem;
  cursor: pointer;
  .label{ 
    flex: 1 1 30px;
    align-content: center;
    text-align: center;
  }

  .label_selected{
    flex: 1 1 30px;
    align-content: center;
    text-align: center;
    border-radius: 10px;
    border: 2px solid white;
  }

  .count{
    text-align: center;
    flex: 1 1 30px;
  }
}
